/*
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. RESET
2. ROOT
3. CORE TYPOGRAPHY
4. LINKS
5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
7. BROWSER AND NON-SEMANTIC STYLING

CONTENTS - LAYOUT.CSS
-----------------------------------------
8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)

*/


/* 1. RESET
----------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  }
  
  
/* 2. ROOT
----------------------------------------------------------------------------------------*/
html { 
  overflow-y: scroll;
/* 
  background: #FFF;
 */
  background: rgb(255, 255, 255);

  }

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img, embed, object, video { max-width: 100%; }
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video { width: 100%; }


/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/
body {
  font-family: Raleway, "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.618em;
  color: #333;
  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  line-height: 1em;
  }

p, ul, ol, dl, blockquote {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 1.618em; 
    max-width: 30em; /* Optimal width for long-form text */
  }
    
ul { list-style-type: disc; margin-left: 1.618em; }
ol { list-style-type: decimal; margin-left: 1.618em; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0;}

b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 80%; }


/* 4. LINKS
----------------------------------------------------------------------------------------*/
a, a:visited { outline: none; color: #439BBD; text-decoration: underline; }  
a:hover { outline: none; text-decoration:none; }  
a:active, a:focus { outline: none; }


/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/

h1 {
  text-align: center;
  font-size: 2.618em;
  line-height: 1.2em;
  }
  
h3, h4, h5, h6 { font-weight: bold; }

p.intro { font-size: 1.309em; margin-bottom: 1em; }
  
header { text-align:center; }

footer {
	position: absolute;
	bottom: 0.5em;
	width: 50%;
	left:25%;
	/*color: #9C9C9C;*/
	color: white;
	font-size: 0.8em;
	padding: 0.5em;
	text-align:center;
	background: black;
}
  



/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/
#container {
    padding: 0em;
    max-width: 40em; /*30em*/
    margin: 0 auto;
	height:100%;
	background-image: url(/img/texture/hearts.png);
	background-repeat: repeat;
	
  }

aside { width: 100%; }

.center {
	text-align: center;
	margin: 0 auto;
}
	

html, body {
	height: 100%;
}

.underline {
	text-decoration:underline;
}

p {
	margin: 0;
	padding: 0;
}

header {
	padding: 4em;
}

h3 { 
	text-transform:uppercase;
	line-height: 1.2	;
	border-right: 4px solid black;
	border-left: 4px solid black;
	padding: 0 1em;
}

section {
	padding: 0 1em;
}

hr {
	margin-top: 2em;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: white;
}

/* 7. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/
.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.ie6 .cf { zoom: 1 }

/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
body {
	border-top: 4px solid black;
	padding:0 ;
}

.negativemargin{
	margin-top:	-1em;
}

.exo{
	font-family: 'Exo', sans-serif;
	font-weight: 500;
}

#subscribe{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 1.5em;
	letter-spacing: 1px;
	margin: 2em auto;
	padding: .6em;
	background: red;
	width: 5em;
	color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}
#subscribe:hover {
   background: #A60000;
}
#subscribe:active {
   background: #740000;
}

#appear {
	display: none;
}

.box{
	margin: 2em 0;
	padding: 2em;
	background: #BEBEBE;
	text-align: left;
	
}

footer {
	padding-top: 100px;
	/*background: #BEBEBE;*/
}

#formsection {
	margin: 4em auto;
}

.formemail {
	margin-top: .5em;
	padding: 0.3em;
	display: inline;
	width: 78%;
	font-size: 1em;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
.formsubmit {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	
	width: 18%;
	min-width:100px;
	display: inline;
	background: red;
	color: white;
	border: 0px;
	font-size: 1em;
	padding: 0.4em;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}

.formsubmit:hover {
   background: #A60000;
}
.formsubmit:active {
   background: #740000;
}

.formtext {
	font-variant:small-caps;	
}

.forminput {
	margin-bottom: 0.5em;
	padding: 0.3em;
	display: inline;
	width: 70%;
	font-size: 0.9em;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}

.wide { width: 100%;}



/* 10. CUSTOM LAYOUT & TYPOGRAPHY (iPHONE)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 0em) and (max-width: 29.999em) {

#container { max-width: 100%;
	padding: 0 0.5em;}

#subscribe {font-size: 1em;}

.box {text-align: center;}


h1 {
	margin-left:-.7em;
	font-size:2em;
}

}
